.wrap {
  background-color: white;
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

/* header */
header {
  background-color: black;
  text-align: center;
  padding-top: 20px;
  position: relative;
  color: white;
}
header .gnb {
  display: grid;
  width: 100%;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto auto;
  grid-template-areas:
    'logo gnb-menu menu'
    'search search search';
}
header .gnb .logo {
  grid-area: logo;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .gnb .gnb-menu {
  grid-area: gnb-menu;
  display: flex;
  align-items: center;
}
header .gnb .gnb-menu ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
header .gnb .gnb-menu ul li {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}
header .gnb .gnb-menu ul li:hover {
  color: gray;
}
header .gnb .gnb-menu ul li:hover::before {
  content: '';
  height: 2px;
  width: 5px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
header .gnb .gnb-menu ul .active:hover {
  color: white;
}
header .gnb .gnb-menu ul .active:hover::before {
  width: 15px;
}
header .gnb .gnb-menu ul .active::before {
  content: '';
  height: 2px;
  width: 15px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
header .gnb .menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  width: 80%;
  margin-left: 20%;
}

header .gnb .menu .menu-hover {
  padding: 10px 10px;
  border-radius: 30px;
}
header .gnb .menu .menu-hover:hover {
  background-color: rgba(172, 172, 172, 0.3);
}
header .gnb .menu .profile {
  background-color: white;
  color: gray;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
}
header .gnb .search {
  grid-area: search;
  width: 70%;
  margin: 0 auto;
}
header .gnb .search .searchUl {
  background-color: white;
  color: black;
  display: flex;
  border-radius: 50px;
}
header .gnb .search .searchUl li {
  width: 25%;
  text-align: left;
  padding: 20px 50px 20px 20px;
  font-weight: bold;
  border-radius: 50px;
  position: relative;
}
header .gnb .search .searchUl li::after {
  position: absolute;
  content: '';
  width: 1px;
  height: calc(100% - calc(20px * 2));
  right: 0;
  top: 50%;
  background-color: lightgrey;
  transform: translate(0, -50%);
}
header .gnb .search .searchUl li:last-of-type::after {
  display: none;
}
header .gnb .search .searchUl li:hover {
  background-color: lightgray;
}
header .gnb .search .searchUl li span {
  color: gray;
  font-size: 12px;
  font-weight: normal;
}

/* notice */
.notice {
  background-color: #ff385c;
  border-radius: 14px;
  text-align: center;
  height: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notice p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
/* 버튼은 컬러를 부모로부터 상속받지 못함. 그래서 지정해줘야함 */
.notice button {
  border: 1px solid white;
  padding: 5px 15px;
  color: white;
  background-color: inherit;
  font-weight: bold;
  border-radius: 14px;
}

/* mainBanner */
.mainBanner {
  height: 600px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  background-image: url('https://news.airbnb.com/wp-content/uploads/sites/4/2024/01/The-Machinery-Shed.-Photo-courtesy-of-Airbnb.jpeg?resize=1100%2C725');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mainBanner .content {
  color: white;
  text-align: center;
}
.mainBanner .content p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.mainBanner .content button {
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: white;
  font-weight: bold;
  border-radius: 24px;
}
.mainBanner .content button span {
  background: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: -webkit-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
